/* Set up the box-sizing for the whole file*/
* {
    box-sizing: border-box;
  }

/* Set up the effect after user select text with mouse*/
::selection {
background-color: rgb(155, 153, 153);
color: white;
}
  
/* Set up the margin, background color and font family for body section*/
body {
  background-color: #f1f1f1;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

/* Set up padding, background color for header section*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #fff;
    display:flex;
    width:100%;
}

/* Set up display and font size for h1*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Style header h1 by changing the color of text*/
.header-text {
    color:red;
}

/* Set up navigation bar characteristics to make 'element' displayed evenly*/
nav {
    font-size: 20px;
    border:0.3rem red solid;
    display: flex;
    color:#f1f1f1;
    padding:0.8rem;
    background-color: #2a607c;
    justify-content: space-evenly;
    width:100%;
}

/* Set up text color in navigation bar*/
nav > a{
    color:inherit;
}

/* Set up the banner image*/
.decoration-image img{
    width:100%;
    height:40vh;
}

/* Work Section: Project image are put into two columns. Set up column 1 here*/
.Column-1{
    font-size:30px;
    width:30% ;
    border-right:0.2rem solid black;
    text-align: right;
    line-height: 3.6rem;
    padding-right: 0.8rem;
}

/* Work Section: Project image are put into two columns. Set up column 2 here*/
.Column-2{
    width:70% ;
    margin-left:50px;
}

/* Work Section: Project image are put into two columns. Set up column 2 here*/
.img-content{
    background-color: grey;
    border:0.3rem solid #2a607c;
    margin:0.5rem;
}

/* Work Section: shadow effect shown after user hovering on specific project*/
.img-content:hover{
    box-shadow: 10px 5px 5px red;
}


/* Work Section: Add background image for work1, work2 and work3*/
#work-1{
    background-image:url('../images/MovieVault-main-page-Image.png.png');
    width: 600px;
    height: 600px;
    background-size: cover;
}
#work-2{
    background-image:url('../images/Fund\ Better.png');
    width: 400px;
    height: 400px;
    background-size: cover;
}

#work-3{
    background-image:url('../images/image.jpg');
    width: 400px;
    height: 400px;
    background-size: cover;
}

/* Work Section: Set up flex display style for 'work container'*/
#work-1-container{
    display:flex;
}
#work-2-container,#work-3-container{
    display:flex;
    width:45%;
    display:inline-block;
}

/* Work Section: Set up margin for work1*/
#work-1-intro{
    margin:2%;
}

/* Work Section: Put work2 and work3 text in new row (rather than next to work container image)*/
.a-tag,#work-2-intro,#work-3-intro{
    display:block;
    width:100%;
    margin:2%;
}

/* Contact Me Section: contact information layout setup*/
.Column-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

/* Contact Me Section: contact information layout setup*/
.Column-2  li {
    float: left;
  }

/* Contact Me Section: contact information layout setup*/  
.Column-2  li a {
    display: block;
    padding: 8px;
  }

/* Contact Me Section: space-around layout for all elements within*/  
.Column-2 > ul{
    display:flex;
    justify-content: space-around;
}
  
/* Use media query for responsive design*/
/* Tablets */
@media screen and (max-width: 992px) {
    /* Make navigation bar stack*/
    nav{
        flex-direction: column;
    }

    /* Work Section: Reduce column 1 (title) area*/
    .Column-1{
        width:25% ;
    }
    .Column-2{
        width:75% ;
        margin-left:30px;
    }
  
  /* Large smartphones */
@media screen and (max-width: 768px) {
    /* Work Section: Reduce column 1 (title) area*/
    .Column-1{
        width:20% ;
    }
    .Column-2{
        width:80% ;
        margin-left:20px;
    }
    
    /* Work Section: Stack work2 and work3 (100% in a row)  */
    #work-1-container,#work-2-container,#work-3-container{
        width:100%;
    }
    #work-2,#work-3{
        width: 600px;
        height: 600px;
    }

    /* Contact Me Section: Stack */
    .Column-2 > ul{
        display:flex;
        flex-direction: column;
    }
  }
  
  /* Small smartphones */
@media screen and (max-width: 576px) {
    .Column-1{
        display:none;
    }
    
    .Column-2{
        width:85% ;
        margin-left:10px;
    }
  }
}