/* Modify bootstrapnav class:set up navigation bar text, color and allignment */
.nav {
    font-size: 32px;
    justify-content: space-evenly;
    align-items: center;
}

/* In nav bar: Set up display and font size for portfolio's owner*/
.navbar-text {
    display: inline-block;
    font-size: 48px;
    display: flex;
}

/* Style: Changing the color of "portfolio" in header*/
.navbar-subtext {
    color: red;
}

/* Fix fotter at the bottom  */
footer {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    bottom: 0;
    background-color: aqua;
}

/* Set up protfolio inage in AboutMe page */
#portfolio-image {
    border-radius: 80%;
    float: none;
}

/* Set up margin */
.card, .github-button, .form, img {
    margin: 2%;
}

/* Set up page title */
h1 {
    font-family:verdana;
    margin-top: 200px;
}

/* Set up introduction paragraph */
#intro {
    margin:2%;
    font-size: 28px;
    text-align: justify;
}

/* Set up form in Contact page */
.form input,
textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

/* Set up error message in Contact page */
.error{
    border: red 3px solid;
}